.btn-custom{
  background-color: #c32d45;
}

.navbar-custom{
  background-color: #c32d45;
}

footer{
  background-color: #c32d45;
  height:50px;
}

.custom-logout a{
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}
