{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="mx-auto">
             <img src="{{url_for('static', filename='images/logo1.png')}}" />
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4 mx-auto">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }} <a href="{{ url_for('auth.login') }}"> Please Login</a>
                </div>
                {% endif %}
                {% endwith %}

            <div class="card bg-light mt-4 custom">
                <div class="card-body">
                    <h3 class="card-title text-center">Register</h3>
                    <form method="POST" action="/signup">
                        <div class="form-group">
                            <label>Student Number</label>
                            <input type="text" class="form-control" name="student_number" placeholder="Enter Student Number" maxlength="8" required>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-custom text-white"><i class="fas fa-user-plus fa-sm"></i> Register</button>
                        <p class="text-center pt-3"><a href="{{ url_for('auth.login') }}">Have an account?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}